In [2]:
import pandas as pd
yolosac = pd.read_csv('yolosac.csv')
yolosac

,gmap_id,category,avg_rating,num_of_reviews
0,0x809ad993cd15cc69:0x38291ec9a11f59ed,['Massage therapist'],4.2,56
1,0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,['Massage therapist'],3.6,15
2,0x809ad7b6234f1ff9:0xe5622114044a3a90,['Door supplier'],4.0,4
3,0x809b2063472fb85b:0x7d6aad89aefc4aea,['Church'],5.0,8
4,0x8084d0c62e26baa9:0x8829fbf306ee0c41,['Church'],4.7,17
...,...,...,...,...
17933,0x809ad0dc95d366e1:0xd01da213a959bf71,['American restaurant'],4.4,694
17934,0x809ae513bfe69e8b:0xef24e3f6e1593a33,['Gas station'],4.6,266
17935,0x809ae50602ec9313:0xc36df52cab3fa80,['Movie theater'],4.5,2048
17936,0x809add6b67412841:0x51386482530fe0d9,['Pizza restaurant'],4.6,457
17937,0x809ae5095015de5f:0x2626d9ea03844d5d,"['Electronics store', 'Appliance store', 'Comp...",4.2,1268

In [9]:
import json

def scan_mil(mil = 0):
    gmap_ids = yolosac.gmap_id.to_list()
    with open('data/review-California.json', 'r') as infile, open('review-temp.json', 'w') as temp:
        success, total = 0, 0
        for _ in range(mil * 1000000):
            next(infile)
        print("starting" + str(mil))
        for line in infile:
            data = json.loads(line)
            if data.get('text') is not None and data.get('gmap_id') in gmap_ids:
                temp.write(line)
                success += 1
            total += 1
            if total == 1000000: break
    
    with open('review-temp.json', 'r') as temp, open('yolosac-reviews.json', 'a') as outfile:
        for line in temp:
            outfile.write(line)
    print("finished" + str(mil))

# would need to run scan_mil(0 to 70) and not repeat one of them or youd have to restart i think
# scan_mil(9) ran but i removed a bunch of lines to get under 100mb
scan_mil(9)

starting9
finished9